.list-container {
  max-width: 90%;
  margin: 0 auto;
}
.list-group {
  display: block;
  max-height: 450px;
  overflow: scroll;
  transition: all 1s ease;
  border: 1px solid lightgray;
}
.list-group-item:first-child {
  border-radius: 0;
}
.list-group-item:last-child() {
  padding: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
li,
li:hover {
  transition: all 1s ease;
}

li:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.backBtn {
  position: absolute;
  left: 10;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  text-align: left;
  background: url("../img/arrow-circle-left-solid.svg") left no-repeat;
}

.backBtn:hover {
  cursor: pointer;
}

.list {
  position: relative;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 30px;
}
.movieContainer {
  margin: 15px auto;
  display: grid;
  align-items: center;
  justify-content: center;
}
#search-item {
  margin-top: 15px;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.container {
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid darkgray;
}
iframe,
img {
  border-radius: 7px;
  margin: 0 auto;
  max-width: 100%;
}
.jumbotron {
  margin: 0;
  padding: 1rem;
}